/* assets/css/themes.css */

/* GÜNEŞ */
[data-theme="gunes"] { --bg-servers: #f39c12; --bg-channels: #e67e22; --bg-chat: #fdf2e9; --text-color: #2d3436; }

/* GALAKSİ */
[data-theme="galaksi"] { --bg-servers: #0b0d17; --bg-channels: #161b33; --bg-chat: #0a0e14; --text-color: #a29bfe; }

/* ZEUS */
[data-theme="zeus"] { --bg-servers: #202225; --bg-channels: #2f3136; --bg-chat: #36393f; --text-color: #dcddde; }

/* DOĞA */
[data-theme="doga"] { --bg-servers: #1b3022; --bg-channels: #26402f; --bg-chat: #e8f5e9; --text-color: #1b5e20; }

/* GRAFİK */
[data-theme="grafik"] { --bg-servers: #000000; --bg-channels: #111111; --bg-chat: #050505; --text-color: #00ff00; }
